<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Conan3000V2</display-name>
  <welcome-file-list>
    <welcome-file>/IngSoft/general/index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<servlet id="Servlet_0001">
        <servlet-name>SMSEvento</servlet-name>
	<servlet-class>IngSoft.servicio.evento.SMSEvento</servlet-class>
</servlet>
  <servlet id="Servlet_0002">
        <servlet-name>SMASede</servlet-name>
	<servlet-class>IngSoft.administracion.sede.SMASede</servlet-class>
</servlet>
<servlet id="Servlet_0003">
        <servlet-name>SMVPromocion</servlet-name>
	<servlet-class>IngSoft.venta.promocion.SMVPromocion</servlet-class>
				   
</servlet>
<servlet id="Servlet_0004">
        <servlet-name>SMSSorteo</servlet-name>
	<servlet-class>IngSoft.servicio.sorteo.SMSSorteo</servlet-class>
</servlet>
<servlet id="Servlet_0005">
        <servlet-name>SMVSocio</servlet-name>
	<servlet-class>IngSoft.venta.socio.SMVSocio</servlet-class>
</servlet>
<servlet id="Servlet_0006">
        <servlet-name>SMAPerfil</servlet-name>
	<servlet-class>IngSoft.administracion.perfiles.SMAPerfil</servlet-class>
</servlet>
<servlet id="Servlet_0007">
        <servlet-name>SMSReserva</servlet-name>
	<servlet-class>IngSoft.servicio.reserva.SMSReserva</servlet-class>
</servlet>
<servlet id="Servlet_0008">
        <servlet-name>SMVMembresia</servlet-name>
	<servlet-class>IngSoft.venta.membresia.SMVMembresia</servlet-class>
</servlet>
<servlet id="Servlet_0009">
        <servlet-name>SMSJuridica</servlet-name>
	<servlet-class>IngSoft.servicio.juridica.SMSJuridica</servlet-class>
</servlet>
<servlet id="Servlet_0010">
        <servlet-name>SMAAmbiente</servlet-name>
	<servlet-class>IngSoft.administracion.ambiente.SMAAmbiente</servlet-class>
</servlet>
<servlet id="Servlet_0011">
        <servlet-name>SMVTraslado</servlet-name>
	<servlet-class>IngSoft.venta.traslado.SMVTraslado</servlet-class>
</servlet>
<servlet id="Servlet_0012">
        <servlet-name>GENLogin</servlet-name>
	<servlet-class>IngSoft.general.login.GENLogin</servlet-class>
</servlet>
<servlet id="Servlet_0013">
        <servlet-name>SMVProveedor</servlet-name>
	<servlet-class>IngSoft.venta.proveedor.SMVProveedor</servlet-class>
</servlet>
  <servlet id="Servlet_0014">
        <servlet-name>SMAActividad</servlet-name>       
	<servlet-class>IngSoft.administracion.actividad.SMAActividad</servlet-class>
</servlet>
  <servlet id="Servlet_0015">
        <servlet-name>SMABungalow</servlet-name>
	<servlet-class>IngSoft.administracion.bungalow.SMABungalow</servlet-class>
</servlet>
  <servlet id="Servlet_0016">
        <servlet-name>SMACancha</servlet-name>
	<servlet-class>IngSoft.administracion.cancha.SMACancha</servlet-class>
</servlet>
<servlet id="Servlet_0017">
        <servlet-name>SMASocio</servlet-name>
	<servlet-class>IngSoft.administracion.socio.SMASocio</servlet-class>
</servlet>
<servlet id="Servlet_0018">
        <servlet-name>SMAInvitado</servlet-name>
	<servlet-class>IngSoft.administracion.invitado.SMAInvitado</servlet-class>
</servlet>
<servlet id="Servlet_0019">
        <servlet-name>SMAServicio</servlet-name>
	<servlet-class>IngSoft.administracion.servicio.SMAServicio</servlet-class>
</servlet>
<servlet id="Servlet_0020">
        <servlet-name>SMSEmpleado</servlet-name>
	<servlet-class>IngSoft.administracion.empleado.SMSEmpleado</servlet-class>
</servlet>
<servlet id="Servlet_0021">
        <servlet-name>SMVProducto</servlet-name>
	<servlet-class>IngSoft.venta.producto.SMVProducto</servlet-class>				   
</servlet>
<servlet id="Servlet_0022">
        <servlet-name>SMVServicio</servlet-name>
	<servlet-class>IngSoft.venta.servicio.SMVServicio</servlet-class>				   
</servlet>
<servlet id="Servlet_0023">
        <servlet-name>SMVPago</servlet-name>
	<servlet-class>IngSoft.venta.pago.SMVPago</servlet-class>				   
</servlet>

<servlet id="Servlet_0024">
        <servlet-name>SMAJornada</servlet-name>
	<servlet-class>IngSoft.administracion.jornada.SMAJornada</servlet-class>				   
</servlet>
<servlet id="Servlet_0025">
        <servlet-name>SMAConcesionario</servlet-name>
	<servlet-class>IngSoft.administracion.concesionario.SMAConcesionario</servlet-class>				   
</servlet>
<servlet id="Servlet_0026">
        <servlet-name>SMAHorariodeactividad</servlet-name>
	<servlet-class>IngSoft.administracion.horariodeactividad.SMAHorariodeactividad</servlet-class>				   
</servlet>
<servlet id="Servlet_0027">
        <servlet-name>SMAHorariodetrabajo</servlet-name>
	<servlet-class>IngSoft.administracion.horariodetrabajo.SMAHorariodetrabajo</servlet-class>				   
</servlet>
<servlet id="Servlet_0028">
        <servlet-name>SMCSorteo</servlet-name>
	<servlet-class>Club.servicio.sorteo.SMCSorteo</servlet-class>				   
</servlet>
<servlet id="Servlet_0029">
        <servlet-name>SMVFamiliar</servlet-name>
	<servlet-class>IngSoft.venta.familiar.SMVFamiliar</servlet-class>				   
</servlet>
<servlet id="Servlet_0030">
        <servlet-name>SMAReserva</servlet-name>
	<servlet-class>IngSoft.administracion.reserva.SMAReserva</servlet-class>				   
</servlet>
<servlet id="Servlet_0031">
<servlet-name>SMSReporte</servlet-name>
<servlet-class>IngSoft.servicio.reporte.SMSReporte</servlet-class>	
</servlet>
<servlet id="Servlet_0032">
<servlet-name>SMVVentaProductos</servlet-name>
<servlet-class>IngSoft.venta.ventaproducto.SMVVentaProductos</servlet-class>	
</servlet>


<servlet-mapping id="ServletMapping_0001">
        <servlet-name>SMSEvento</servlet-name>
<url-pattern>/IngSoft/servicio/evento/SMSEvento</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0002">
        <servlet-name>SMASede</servlet-name>
<url-pattern>/IngSoft/administracion/sede/SMASede</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0003">
        <servlet-name>SMVPromocion</servlet-name>
<url-pattern>/IngSoft/ventas/promociones/SMVPromocion</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0004">
        <servlet-name>SMSSorteo</servlet-name>
<url-pattern>/IngSoft/servicio/sorteo/SMSSorteo</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0005">
        <servlet-name>SMVSocio</servlet-name>
<url-pattern>/IngSoft/ventas/socio/SMVSocio</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0006">
        <servlet-name>SMAPerfil</servlet-name>
<url-pattern>/IngSoft/administracion/perfiles/SMAPerfil</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0007">
        <servlet-name>SMSReserva</servlet-name>
<url-pattern>/IngSoft/servicio/reserva/SMSReserva</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0008">
        <servlet-name>SMVMembresia</servlet-name>
<url-pattern>/IngSoft/ventas/membresia/SMVMembresia</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0009">
        <servlet-name>SMSJuridica</servlet-name>
<url-pattern>/IngSoft/servicio/juridica/SMSJuridica</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0010">
        <servlet-name>SMAAmbiente</servlet-name>
<url-pattern>/IngSoft/administracion/ambiente/SMAAmbiente</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0011">
        <servlet-name>SMVTraslado</servlet-name>
<url-pattern>/IngSoft/ventas/membresia/SMVTraslado</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0012">
        <servlet-name>GENLogin</servlet-name>
<url-pattern>/IngSoft/general/GENLogin</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0013">
        <servlet-name>SMVProveedor</servlet-name>
<url-pattern>/IngSoft/ventas/proveedor/SMVProveedor</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0014">
        <servlet-name>SMAActividad</servlet-name>
<url-pattern>/IngSoft/administracion/actividad/SMAActividad</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0015">
        <servlet-name>SMABungalow</servlet-name>
<url-pattern>/IngSoft/administracion/bungalow/SMABungalow</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0016">
        <servlet-name>SMACancha</servlet-name>
<url-pattern>/IngSoft/administracion/cancha/SMACancha</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0017">
        <servlet-name>SMASocio</servlet-name>
<url-pattern>/IngSoft/administracion/socio/SMASocio</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0018">
        <servlet-name>SMAInvitado</servlet-name>
<url-pattern>/IngSoft/administracion/invitado/SMAInvitado</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0019">
        <servlet-name>SMAServicio</servlet-name>
<url-pattern>/IngSoft/administracion/servicio/SMAServicio</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0020">
        <servlet-name>SMSEmpleado</servlet-name>
<url-pattern>/IngSoft/administracion/empleados/SMSEmpleado</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0021">
        <servlet-name>SMVProducto</servlet-name>
<url-pattern>/IngSoft/ventas/producto/SMVProducto</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0022">
        <servlet-name>SMVServicio</servlet-name>
<url-pattern>/IngSoft/ventas/servicioproveedor/SMVServicio</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0023">
        <servlet-name>SMVPago</servlet-name>
<url-pattern>/IngSoft/ventas/pago/SMVPago</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0024">
        <servlet-name>SMAJornada</servlet-name>
<url-pattern>/IngSoft/administracion/jornada/SMAJornada</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0025">
        <servlet-name>SMAConcesionario</servlet-name>
<url-pattern>/IngSoft/administracion/concesionario/SMAConcesionario</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0026">
        <servlet-name>SMAHorariodeactividad</servlet-name>
<url-pattern>/IngSoft/administracion/horariodeactividad/SMAHorariodeactividad</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0027">
        <servlet-name>SMAHorariodetrabajo</servlet-name>
<url-pattern>/IngSoft/administracion/horariodetrabajo/SMAHorariodetrabajo</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0028">
        <servlet-name>SMCSorteo</servlet-name>
<url-pattern>/Club/servicio/sorteo/SMCSorteo</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0029">
        <servlet-name>SMVFamiliar</servlet-name>
<url-pattern>/IngSoft/ventas/familia/SMVFamiliar</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0030">
        <servlet-name>SMAReserva</servlet-name>
<url-pattern>/IngSoft/administracion/reserva/SMAReserva</url-pattern>
</servlet-mapping>

<servlet-mapping id="ServletMapping_0031">
<servlet-name>SMSReporte</servlet-name>
<url-pattern>/IngSoft/servicio/reporte/SMSReporte</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0032">
        <servlet-name>SMVVentaProductos</servlet-name>
<url-pattern>/IngSoft/ventas/ventaproducto/SMVVentaProductos</url-pattern>
</servlet-mapping>

<error-page>
<error-code>404</error-code>
<location>/IngSoft/general/404.jsp</location>
</error-page>



</web-app>


