<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Conan3000V2</display-name>
  <welcome-file-list>
    <welcome-file>/IngSoft/general/index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<servlet id="Servlet_0001">
        <servlet-name>SMSEvento</servlet-name>
	<servlet-class>IngSoft.servicio.evento.SMSEvento</servlet-class>
</servlet>
  <servlet id="Servlet_0002">
        <servlet-name>SMASede</servlet-name>
	<servlet-class>IngSoft.administracion.sede.SMASede</servlet-class>
</servlet>
<servlet id="Servlet_0003">
        <servlet-name>SMVPromocion</servlet-name>
	<servlet-class>IngSoft.venta.promocion.SMVPromocion</servlet-class>
				   
</servlet>
<servlet id="Servlet_0004">
        <servlet-name>SMSSorteo</servlet-name>
	<servlet-class>IngSoft.servicio.sorteo.SMSSorteo</servlet-class>
</servlet>
<servlet id="Servlet_0005">
        <servlet-name>SMVSocio</servlet-name>
	<servlet-class>IngSoft.venta.socio.SMVSocio</servlet-class>
</servlet>
<servlet id="Servlet_0006">
        <servlet-name>SMAPerfil</servlet-name>
	<servlet-class>IngSoft.administracion.perfiles.SMAPerfil</servlet-class>
</servlet>
<servlet id="Servlet_0007">
        <servlet-name>SMSReserva</servlet-name>
	<servlet-class>IngSoft.servicio.reserva.SMSReserva</servlet-class>
</servlet>
<servlet id="Servlet_0008">
        <servlet-name>SMVMembresia</servlet-name>
	<servlet-class>IngSoft.venta.membresia.SMVMembresia</servlet-class>
</servlet>
<servlet id="Servlet_0009">
        <servlet-name>SMSJuridica</servlet-name>
	<servlet-class>IngSoft.servicio.juridica.SMSJuridica</servlet-class>
</servlet>
<servlet id="Servlet_0010">
        <servlet-name>SMAAmbiente</servlet-name>
	<servlet-class>IngSoft.administracion.ambiente.SMAAmbiente</servlet-class>
</servlet>
<servlet id="Servlet_0011">
        <servlet-name>SMVTraslado</servlet-name>
	<servlet-class>IngSoft.venta.traslado.SMVTraslado</servlet-class>
</servlet>
<servlet id="Servlet_0012">
        <servlet-name>GENLogin</servlet-name>
	<servlet-class>IngSoft.general.login.GENLogin</servlet-class>
</servlet>


<servlet-mapping id="ServletMapping_0001">
        <servlet-name>SMSEvento</servlet-name>
<url-pattern>/IngSoft/servicio/evento/SMSEvento</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0002">
        <servlet-name>SMASede</servlet-name>
<url-pattern>/IngSoft/administracion/sede/SMASede</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0003">
        <servlet-name>SMVPromocion</servlet-name>
<url-pattern>/IngSoft/ventas/promociones/SMVPromocion</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0004">
        <servlet-name>SMSSorteo</servlet-name>
<url-pattern>/IngSoft/servicio/sorteo/SMSSorteo</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0005">
        <servlet-name>SMVSocio</servlet-name>
<url-pattern>/IngSoft/ventas/socio/SMVSocio</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0006">
        <servlet-name>SMAPerfil</servlet-name>
<url-pattern>/IngSoft/administracion/perfiles/SMAPerfil</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0007">
        <servlet-name>SMSReserva</servlet-name>
<url-pattern>/IngSoft/servicio/reserva/SMSReserva</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0008">
        <servlet-name>SMVMembresia</servlet-name>
<url-pattern>/IngSoft/ventas/membresia/SMVMembresia</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0009">
        <servlet-name>SMSJuridica</servlet-name>
<url-pattern>/IngSoft/servicio/juridica/SMSJuridica</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0010">
        <servlet-name>SMAAmbiente</servlet-name>
<url-pattern>/IngSoft/administracion/ambiente/SMAAmbiente</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0011">
        <servlet-name>SMVTraslado</servlet-name>
<url-pattern>/IngSoft/ventas/membresia/SMVTraslado</url-pattern>
</servlet-mapping>
<servlet-mapping id="ServletMapping_0012">
        <servlet-name>GENLogin</servlet-name>
<url-pattern>/IngSoft/general/GENLogin</url-pattern>
</servlet-mapping>

<error-page>
<error-code>404</error-code>
<location>/IngSoft/general/404.jsp</location>
</error-page>

</web-app>


